.header {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(211, 246, 255);
    display: flex;
    justify-content: flex-end;
}

a{
    padding: 10px;
}

.active {
    color: black;
}
